@import "../../../styles/vars.scss";

table {
  &.table {
    thead {
      padding: 15px;
      background: $mainBg;
      border: 0;
      color: #a3a684;
      font-size: 13px;
      th {
        @extend thead;
        tr {
          @extend thead;
        }
      }
    }
    td {
      font-size: 13px;
      color: $placeholderColor;
      padding: 15px;
    }
  }
}
