@import '../../styles/vars.scss';

.user {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 15px;
    font-size: 13px;
    line-height: 20px;
    color: $placeholderColor;
}

.user-dropdown {
    @extend .user;
    cursor: pointer;

    .user-arrow {
        width: 16px;
        margin-right: 10px;
    
        .stripe{
            width: 23px;
            height: 16px;
            display:inline-block ;
            cursor: pointer;
        }
    
        span {
            &.user-name-down-arrow {
                height: 20px;
                margin-right: 35px;
                background: url('../../assets/images/icons.png') 185px 22px;
            }
        }
    }
}

.user_pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}