/*colors*/
$sidebarBg: #43425d;
$sidebarTextColor: #fff;
$sidebarActiveText: rgba(0, 0, 0, .1);
$sidebarTitleBg: #3c3b53;
$sidebarActiveBg: #3c3b54;
$sidebarStripeColor: #a3a0fb;
$mainBg: #f0f0f7;
$shadowColor: rgba(0, 0, 0, .04);
$placeholderColor: #4d4f5c;
$headerRightDivider: #ebebf2;
$brightColor: #3b86ff;
$borderColor: #d7dae2;
$dayColor: #a3a6b4;
$daysBg: #f5f6fa;
$daysBorderColor: #eaf0f4;
$timeIndicatorColor: #74ad31;
$eventPopup: #d6d6d6;
$iconColor: #a5a4bf;
$cancelBtn: #ff5f5f;
$popupBtn: #6a6996;
/*END colors*/

$containerWidth: 1190px;