@import '../../../../styles/vars.scss';
.user-container {
    display: block;
    clear: both;
    float: left;
    width: 100%;

    img {
        float: left;
        border-radius: 50%;
        padding-right: 15px;
    }
}

.color-shide {
    color:$sidebarBg;
    margin: 0;
    font-size: 15px;
}