.user-card {
  min-height: 600px;
  ul {
    &.social-icons {
      display: flex;
      align-content: stretch;
      padding: 0;
    }
  }

  h5 {
    &.heading {
      color: #a7a7a7;
    }
  }

  span {
    &.stripe {
      &.point-stripe{
        float: right;
        background: url('../../../assets/images/icons.png') 80px -42px;
        width: 40px;
      }
    }
  }
}

.img-circle {
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;

  img {
    border-radius: 50%;
    width: 107px;
    margin: auto;
    height: 107px;
  }
}
